* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px */
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
  min-width: 100vw;
}

/* /////////////////////////////// */
/* HEADER */

.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  flex: 1;

  max-width: 115rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 3rem;
  justify-content: center;
  align-items: start;
  justify-items: start;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.1rem;
  /* color: #00a6fb; */
  color: #0582ca;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

/* /////////////////////////////// */
/* NAV */

.nav {
  padding: 2.6rem 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  box-shadow: 0rem 0rem 3rem rgba(182, 182, 182, 0.12);

  /* background-image: linear-gradient(to top left, #0582ca, #00a6fb); */
  z-index: 999;
}

.logo {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  color: #444;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 3.2rem;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 600;
  color: #444;
  letter-spacing: 0.1rem;

  transition: all 0.3s;
}

/* /////////////////////////////// */
/* MOBILE NAV */
.btn-mobile-nav-open {
  width: 3rem;
  height: 3rem;

  position: fixed;
  top: 5%;
  right: 5%;

  display: none;
  background-color: none;
  border: 1px solid #00a6fb;

  transition: all 0.3s ease;
}

.btn-mobile-nav-icon {
  height: 2.4rem;
  width: 2.4rem;
  stroke: #00a6fb;
}

.btn-mobile-nav-open:hover {
  border: 1px solid #00b4fb;
  cursor: pointer;
}

.btn-mobile-nav-open:hover .btn-mobile-nav-icon {
  stroke: #00b4fb;
}

.section {
  padding: 5rem 3rem 15rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}

.section--title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section--description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #00a6fb;
  margin-bottom: 1rem;
}

.section--header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

/* /////////////////////////////// */
/* TAB COMPONENET / SECTION 1 */
.tab-component-container {
  max-width: 100rem;
  margin: 0 auto;
  background-color: #fff;
}

.tab-btns-container {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.tab-btn {
  padding: 1.2rem;
  border-radius: 2.5rem;

  background-image: linear-gradient(to top left, #0582ca, #00a6fb);

  border: none;

  font-size: 1.6rem;
  font-weight: 500;

  width: 25rem;
  transform: translateY(-50%);
}

.tab-btn:hover {
  background-image: linear-gradient(to top left, #00a6fb, #00b4fb);
  cursor: pointer;
}

.tab-btn span {
  font-weight: 600;
}

.tab-btn--active {
  transform: translateY(-66%);
}

.tab-content {
  display: none;
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.tab-content--active {
  display: grid;
  align-items: center;
  /* justify-items: center; */

  grid-template-columns: 7rem 1fr;
  column-gap: 2.4rem;
  row-gap: 1.8rem;
}

.tab-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-image: linear-gradient(
    to top left,
    rgb(5, 130, 202, 0.2),
    rgb(0, 166, 251, 0.2)
  );
  grid-row: 1/ 2;
  grid-column: 1 / 2;
  align-self: center;
}

.tab-header {
  font-size: 2.2rem;
  grid-column: 2 / 3;
  grid-row: 1/ 2;
  align-self: center;
  font-weight: 500;
}

.tab-text {
  font-size: 1.6rem;
  color: #999;
  grid-column: 1/ -1;
}

.tab-text span {
  font-weight: 600;
  color: #444;
}

/* /////////////////////////////// */
/* SLIDER COMPONENET / SECTION 2 */

.slider {
  max-width: 100rem;
  height: 54rem;
  margin: 0 auto;
  position: relative;

  overflow: hidden;
  /* background-image: linear-gradient(to top left, #0582ca, #00a6fb); */
  background-color: #fff;
  box-shadow: 1rem 1rem 1rem 0.8rem rgb(153, 153, 153, 0.2);
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  transition: transform 1s;
}

.slider-btn {
  position: absolute;
  top: 50%;
  z-index: 9;

  border: none;
  background-image: linear-gradient(to top left, #0582ca, #00a6fb);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-btn:hover {
  background: #00b4fb;
}

.slider-btn-left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider-btn-right {
  right: 6%;
  transform: translate(50%, -50%);
}

.slider-btn-icon {
  height: 3rem;
  width: 3rem;
}

.dots-container {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 1.7rem;
  z-index: 999;
}

.dots-dot {
  border: none;
  background-color: #00b4fb;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;

  cursor: pointer;
  transition: all 0.5s;
}

.dots-dot--active {
  background-color: #0582ca;
}

.project-image {
  max-width: 80%;
  padding-bottom: 1.2rem;
}

.project-title {
  font-size: 2rem;
  font-weight: 600;

  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

.btn-project-details {
  text-transform: uppercase;
  align-self: center;
  padding: 1rem 2rem;
  border: none;
  background-image: linear-gradient(to top left, #0582ca, #00a6fb);
  font-weight: 600;
}

.btn-project-details:hover {
  background-image: linear-gradient(to top left, #00a6fb, #00b4fb);
  cursor: pointer;
}

.project-image {
  max-width: 80%;
}

/* /////////////////////////////// */
/* MODAL WINDOWS */

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 120rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.btn-close-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  padding: 1.2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-image: linear-gradient(to top left, #0582ca, #00a6fb);
  margin: 0 auto;

  margin-top: 1.2rem;
  font-weight: 700;
}

.btn-close-modal:hover {
  cursor: pointer;
  color: #fff;
  background-image: linear-gradient(to top left, #00a6fb, #00b4fb);
}

.modal-title {
  font-size: 1.8rem;
  display: inline-block;
  margin-bottom: 1.2rem;
}

.modal-text {
  font-size: 1.6rem;
}

.modal-image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.2rem;
  background-image: linear-gradient(to top left, #0582ca, #00a6fb);
  padding: 1.2rem;
}

.modal-image {
  max-width: 25rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.2);
}

.modal-image-container-modal--2 {
  display: flex;
  justify-content: space-around;
}

.countdown-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown-btn span {
  margin: 1.2rem 0rem;
}

.countdown-link {
  font-size: 1.6rem;
  padding: 1.2rem;
  font-weight: 600;
  text-align: center;
  background-image: linear-gradient(to top left, #0582ca, #00a6fb);
  color: #444;
}

.countdown-link:link {
  text-decoration: none;
  text-transform: uppercase;
}

.countdown-btn:hover .countdown-link {
  background-image: linear-gradient(to top left, #00a6fb, #00b4fb);
  color: #fff;
}

/* /////////////////////////////// */
/* CONTACT ME  */

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  column-gap: 0;
  max-width: 100rem;
  height: 54rem;
  margin: 0 auto;

  background: none;
  /* color: #fff; */
  padding: 3.2rem;
  align-items: center;

  border-radius: 1.2rem;
  box-shadow: 1rem 1rem 1rem 1rem rgb(68, 68, 68, 0.09);
}

.contact-title {
  font-size: 2.4rem;
  text-align: center;
  grid-column: 1/ 3;
}

.contact-left,
.contact-right {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;

  text-decoration: none;
}

.contact-left {
  grid-column: 1/ 2;
  justify-self: center;
}

.contact-linkedin-link a {
  text-decoration: none;
  color: #444;
}

.contact-phone-number {
  display: inline-block;
}

.btn-cv {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 2;
  margin: 0 auto;
  background-image: linear-gradient(to top left, #0582ca, #00a6fb);
  padding: 1.2rem;
  color: inherit;
}

.btn-cv:link,
.btn-cv:active {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
}
